<app-navbar></app-navbar>
<div class="p-5 m-2 border border-red-400 bg-gray-100">
  <div class="border-red-400">
    <!-- Logo div -->
    <div class="border border-red-400 bg-black">
      <img src="../../assets/drone-svgrepo-com-bw.svg" class="h-20 w-20 pt-4 mx-auto filter-green-500" alt="">
      <h1 class="tracking-widest text-center text-white">metarBot</h1>
      <!-- Logo verbiage -->
      <div class="mt-8 border border-red-400 bg-white">
        <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Animi, illo nisi, distinctio praesentium aut enim fuga eveniet eligendi molestias ab ea vel dignissimos provident amet explicabo voluptatum architecto esse aliquid.
        </p>
      </div>
    </div>
    <!-- Login div -->
    <div class="items-center border border-red-400 shadow-2xl justify-center m-3 p-3 max-w-max mx-auto">
			<div class="flex text-sm md:text-base justify-between text-center bg-white">
				<div [ngClass]="newUser ? 'tab-active' : 'tab-inactive'" class="w-full border border-b-0 border-r-0 border-black" role="button" (click)="toggleSignUp()">
					<h1 class="text-center">CREATE AN ACCOUNT</h1>
				</div>
				<div [ngClass]="!newUser ? 'tab-active' : 'tab-inactive'" class="w-full border border-b-0 border-l-0 border-black" role="button" (click)="toggleLogin()">
					<h1>LOGIN</h1>
				</div>
			</div>
			<div *ngIf="newUser" class="flex justify-center text-center border border-t-0 border-black bg-white shadow-2xl">
				<app-signup></app-signup>
			</div>
			<div *ngIf="!newUser" class="flex justify-center text-center border border-t-0 border-black bg-white shadow-2xl">
				<app-signin></app-signin>
			</div>
			<div class="mt-5 text-center">
				<h3 class="tracking-wide uppercase">Coming Soon</h3>
				<div class="text-left">
					<p>In the coming weeks, you'll be able to login using an existing account at one of the following platforms:</p>
				</div>
				<p>Apple</p>
				<p>Facebook</p>
				<p>Google</p>
				<p>Twitter</p>
			</div>
		</div>
  </div>
</div>
<app-footer></app-footer>
