<app-navbar></app-navbar>
<div class="m-1 text-center">
	<h1>Welcome Back to <strong>metarBot</strong></h1>
	<form [formGroup]="stationForm" (ngSubmit)="stationSearch(station.value)">
		<div class="flex flex-col">
			<div class="flex justify-center items-center">
				<img src="../../assets/images/airport-svgrepo-com.svg" class="h-5 w-5" alt="">
				<label class="form-label pl-2" for="stationId">Airport Code</label>
			</div>
			<div class="flex justify-center items-center col-span-1">
				<input class="form-input" autocomplete="off" type="text" placeholder="Enter ICAO or IATA Code" formControlName="stationId" #station>			
			</div>
		</div>
		<button class="bg-blue-500" role="button" type="submit">Search</button>
	</form>
	<div class="m-5 p-1 bg-white shadow-xl shadow-slate-900 rounded-md">
		<h1>General Information</h1>
		<p>General station information for an airfield by IATA or ICAO identification code.</p>
	</div>
	<div class="m-5 p-5 rounded-md shadow-xl shadow-slate-900">
		<div class="text-center m-1 p-3 grid grid-cols-1 lg:grid lg:grid-cols-2 rounded-md">
			<div class="m-1 shadow-lg rounded-md shadow-slate-900 bg-white">
				<h1 class="text-white bg-slate-600 underline text-lg">Name</h1>
				<p>{{ stationData?.name }}</p>
			</div>
			<div class="m-1 shadow-lg rounded-md shadow-slate-900 bg-white">
				<h1 class="text-white bg-slate-600 underline text-lg">Location</h1>
				<p *ngIf="stationData">{{ stationData?.city }}, {{ stationData?.country }}</p>
			</div>
			<div class="m-1 shadow-lg rounded-md shadow-slate-900 bg-white">
				<h1 class="text-white bg-slate-600 underline text-lg">Size</h1>
				<p>{{ stationData?.type }}</p>
			</div>
			<div class="m-1 shadow-lg rounded-md shadow-slate-900 bg-white">
				<h1 class="text-white bg-slate-600 underline text-lg">Elevation</h1>
				<p *ngIf="stationData">{{ stationData?.elevation_ft }} feet/{{ stationData?.elevation_m }} meters</p>
			</div>
			<div class="m-1 shadow-lg rounded-md shadow-slate-900 bg-white">
				<h1 class="text-white bg-slate-600 underline text-lg">Coordinates</h1>
				<p *ngIf="stationData" class="overflow-hidden">Latitude: {{ stationData?.latitude }}</p>
				<p *ngIf="stationData" class="overflow-hidden">Longitude: {{ stationData?.longitude }}</p>
			</div>
			<div class="m-1 shadow-lg rounded-md shadow-slate-900 bg-white">
				<h1 class="text-white bg-slate-600 underline text-lg">Airport codes</h1>
				<p *ngIf="stationData">IATA: {{ stationData?.iata }}</p>
				<p *ngIf="stationData">ICAO: {{ stationData?.icao }}</p>
			</div>
			<div class="m-1 shadow-lg rounded-md shadow-slate-900 bg-white">
				<h1 class="text-white bg-slate-600 underline text-lg">Reporting Status</h1>
				<p>{{ stationData?.reporting }}</p>
			</div>
			<div class="m-1 shadow-lg rounded-md shadow-slate-900 bg-white">
				<h1 class="text-white bg-slate-600 underline text-lg">Notes</h1>
				<p>{{ stationData?.note }}</p>
			</div>
		</div>
		<div class="m-5 mb-2 grid grid-cols-1 shadow-lg rounded-md shadow-slate-900 bg-white text-center">
			<!-- <div class="shadow-lg rounded-md shadow-slate-900 bg-white">
				<h1 class="text-white bg-slate-600 underline text-lg">Total Runways</h1>
				<p>{{ stationData?.runways?.length }}</p>
			</div> -->
			<h1 class="text-white bg-slate-600 underline text-lg pb-2">Runways Details</h1>
			<p *ngIf="stationData?.runways">Total Runways: {{ stationData?.runways?.length }}</p>
			<div  *ngFor="let runway of stationData?.runways; index as i" class="p-1 m-1 mb-4 flex flex-col lg:grid lg:grid-cols-6 text-xs shadow-lg shadow-slate-900">
				<!-- <p>#{{i}}:</p> -->
				<p *ngIf="runway.ident1 || runway.ident2" class="p-2 lg:border-r lg:border-r-black">#{{ i+1 }}: Identities: {{ runway.ident1}}, {{ runway.ident2 }}</p>
				<p *ngIf="runway.bearing1 || runway.bearing2" class="p-2 lg:border-r lg:border-r-black">Bearings: {{ runway.bearing1 }}, {{ runway.bearing2 }}</p>
				<p class="p-2 lg:border-r lg:border-r-black">Length: {{ runway.length_ft }}</p>
				<p class="p-2 lg:border-r lg:border-r-black">Width: {{ runway.width_ft }}</p>
				<p class="p-2 lg:border-r lg:border-r-black">Lights: {{ runway.lights }}</p>
				<p class="p-2">Surface: {{ runway.surface }}</p>
			</div>
		</div>
	</div>
</div>
<app-footer></app-footer>
