/* You can add global styles to this file, and also import other style files */
/* @import url('https://fonts.googleapis.com/css2?family=Syne+Tactile&display=swap'); */
/* @import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap'); */

@tailwind base;
@tailwind components;
@tailwind utilities;

/* @font-face {
	font-family: "ArchivoBlack";
	src: local("ArchivoBlack-Regular") url(./assets/fonts/ArchivoBlack/ArchivoBlack-Regular.woff2) format("woff2"),
	local("ArchivoBlack-Italic") url(./assets/fonts/ArchivoBlack/ArchivoBlack-Italic.woff2) format("woff2");
} */

body {
	@apply bg-slate-300;
	overflow: scroll;
}

.btn {
	@apply bg-blue-300 text-black p-1 rounded-md hover:bg-blue-400 m-2
}

.btn2 {
	@apply py-2 px-4 bg-indigo-600 hover:bg-indigo-700 focus:ring-indigo-500 focus:ring-offset-indigo-200 text-white w-full transition ease-in duration-200 text-center text-base font-semibold shadow-md focus:outline-none focus:ring-2 focus:ring-offset-2 rounded-lg
}

/* ROTIAF: CSS filter property used because Tailwind classes have no effect on svgs used as images like they do on inline svg code */
.filter-green-500 {
	filter: invert(51%) sepia(93%) saturate(387%) hue-rotate(103deg) brightness(87%) contrast(98%);
}

.jumbotron {
	@apply text-black text-center rounded-md;
}
