<h1>Welcome Back to <strong>metarBot</strong></h1>
<form [formGroup]="loginForm" (ngSubmit)="login()">
	<div class="flex flex-col">
		<div class="flex justify-center items-center">
			<img src="../../../assets/envelope-mail-svgrepo-com.svg" class="h-5 w-5" alt="">
			<label class="form-label pl-2" for="username">Username:</label>
		</div>
		<div class="">
			<input class="form-input" type="email" formControlName="username">			
		</div>
	</div>
	<div class="">
		<div class="flex justify-center items-center">
			<img src="../../../assets/key-svgrepo-com.svg" class="h-5 w-5" alt="">
			<label class="form-label pl-2" for="password">Password:</label>
		</div>
		<div class="">
			<input class="form-input" type="password" formControlName="password">
		</div>
	</div>
	<button class="bg-blue-500" role="button" type="submit">LOGIN</button>
</form>
