<app-navbar></app-navbar>
<div class="m-2 p-2">
	<div class="jumbotron">
		<!-- Logo div -->
		<div class="bg-slate-800 text-white rounded-md shadow-xl shadow-slate-900">
			<h1 class="uppercase tracking-widest text-3xl">metarBot</h1>
			<img src="../../assets/images/drone-svgrepo-com-bw.svg" class="h-20 w-20 pt-4 mx-auto filter-green-500" alt="">
			<h2 class="p-2 pb-4 text-lg tracking-wide">Plan, track, and store your flight weather data</h2>
			<p class="p-2 rounded-md">
				metarBot is a weather utility for operators of small unmanned aerial systems.  It's designed to help reduce the need to check multiple websites for weather reports, meteorological aerodrome reports (aka METARs), and other sources used by commercial and hobbyist drone pilots.
			</p>
		</div>
	</div>
	<div class="grid grid-cols-2 pt-6 py-3 gap-5">
		<div class="text-center bg-gray-100 rounded-md shadow-lg shadow-slate-900">
			<img src="../../assets/images/free-sticker-svgrepo-com.svg" class="p-2 h-16 w-1h-16 mx-auto" alt="">
			<h2 class="text-lg tracking-wide">No account required!</h2>
			<p class="text-left px-3">Most features of <strong>metarBot</strong> are available without having to sign up.
				Click the Learn More button below see a full list of features.</p>
			<button class="btn"><a routerLink="/features">Learn More</a></button>
		</div>
		<div class="text-center bg-gray-100 rounded-md shadow-lg shadow-slate-900">
			<img src="../../assets/images/connect-svgrepo-com.svg" class="p-2 h-16 w-16 mx-auto" alt="">
			<h2 class="text-lg tracking-wide">One account with everything!</h2>
			<p class="text-left px-3">Create a free account to get access to all of <strong>metarBot's</strong> features
				current features and future enhancements.</p>
			<button class="btn"><a routerLink="/auth">Sign Up</a></button>
		</div>
	</div>
	<div class="text-center bg-gray-200 mb-2 p-4 rounded-lg shadow-lg shadow-slate-900">
		<h2 class="uppercase text-center tracking-wider text-3xl">Features</h2>
		<table class="table-fixed text-center bg-gray-50 mx-auto pb-3 shadow-lg shadow-slate-900">
			<thead>
				<tr class="bg-gray-300">
					<th class="w-3/5">Description</th>
					<th class="w-1/5">Account Required?</th>
				</tr>
			</thead>
			<tbody>
				<tr>
					<td>Get Airport Information</td>
					<td>
						<img src="../../assets/images/unchecked-svgrepo-com.svg" class="mx-auto p-2 h-10 w-h-10" alt="">
					</td>
				</tr>
				<tr>
					<td>Lookup METARs</td>
					<td>
						<img src="../../assets/images/unchecked-svgrepo-com.svg" class="mx-auto p-2 h-10 w-h-10" alt="">
					</td>
				</tr>
				<tr>
					<td>NOTAMS</td>
					<td>
						<img src="../../assets/images/unchecked-svgrepo-com.svg" class="mx-auto p-2 h-10 w-h-10" alt="">
					</td>
				</tr>
				<tr>
					<td>Weather (coming soon)</td>
					<td>
						<img src="../../assets/images/unchecked-svgrepo-com.svg" class="mx-auto p-2 h-10 w-h-10" alt="">
					</td>
				</tr>
				<tr>
					<td>Text Alerts (coming soon)</td>
					<td>
						<img src="../../assets/images/checkmark-svgrepo-com.svg" class="mx-auto -my-3 filter-green-500" alt="">
					</td>
				</tr>
				<tr>
					<td>Customizable Dashboard (coming soon)</td>
					<td>
						<img src="../../assets/images/checkmark-svgrepo-com.svg" class="mx-auto -my-3 filter-green-500" alt="">
					</td>
				</tr>
			</tbody>
		</table>
	</div>
</div>
<app-footer></app-footer>
