<div class="flex flex-col items-center bg-gray-800 text-white p-2 gap-2">
	<div class="flex gap-2">
		<a href="https://github.com/frinkiac-7"><span>
			<img src="../../../assets/images/social-github-octocat-svgrepo-com.svg" class="bg-white rounded-full h-8 w-8" alt="Github logo">
		</span></a>
		<a href="https://twitter.com/frinkiac7"><span>
			<img src="../../../assets/images/twitter-svgrepo-com.svg" class="bg-white rounded-full h-8 w-8" alt="Twitter logo">
		</span></a>
		<a href="mailto:rob@frinkiac-7.net"><span>
			<img src="../../../assets/images/stamp-at-svgrepo-com.svg" class="bg-white rounded-full h-8 w-8" alt="Email me">
		</span></a>
	</div>
	<div class="flex gap-2 text-xs">
		<p><strong>metarBot</strong>© {{ getCurrentYear() }}</p>
	</div>
</div>
