<app-navbar></app-navbar>
<div class="m-2 p-2">
	<div class="grid grid-cols-1 bg-white rounded-lg shadow-lg shadow-slate-900">
		<div class="mx-16 text-center">
			<h1 class="p-2 text-lg tracking-wide">Hi, I'm Rob</h1>
			<h1 class="pb-5 italic">Developer, drone nerd, doggo guy, and proud UMass Boston alum</h1>
			<p class="text-left">
				I started working as a full stack web developer in 2018 after previously working as a senior data network and information security engineer. I'm also a photographer and FAA Part 107 drone pilot whose work can be seen regularly on NBC10 in Boston and occassionally on NBC Connecticut in Hartford.
			</p>
		</div>
		<div class="lg:m-2 lg:pr-16">
			<blockquote class="flex flex-row-reverse">
				<div class="text-white bg-slate-700 rounded-md p-2 shadow-lg shadow-slate-900">
					<p class="p-2">"I don't know how to put this but I'm kind of a big deal." <span class="text-sm"><sup>*</sup></span></p>
					<cite>
						<p class="text-right">Ron Burgundy</p>
						<p class="text-xs text-right">* (I kid! I kid!)</p>
					</cite>
				</div>
			</blockquote>
		</div>
	</div>
	<div class="rounded-lg shadow-lg shadow-slate-900">
		<div class="p-6 mt-8 grid grid-cols-1 lg:grid-cols-3">
			<div class="grid grid-cols-1">
				<img class="rounded-full mx-auto mt-5" src="../../assets/images/RobHeadshot.jpg" alt="Rob's headshot" width="50%" height="50%">
			</div>
			<div class="lg:col-span-2">
				<h2 class="text-lg tracking-widest">
					About Me
				</h2>
				<p>
					I work as a Business Intelligence Developer with the City of Worcester's Office of Urban Innovation.  I've been in this role since graduating from General Assembly's Web Development Immersive program in April, 2018. Prior to that, I was a senior network engineer at Genzyme Corporation.  After Genzyme was acquired by Sanofi, I moved into an infrastructure project manager role focused on integrating companies arising from the company's mergers and acquisitions. I also have experience in the education and management consulting sectors through my work at Harvard University's Extension School and as well as Bain & Co. 
				</p>
			</div>
		</div>
		<div class="m-2 p-2 mb-4 flex flex-row grid-cols-3 gap-6">
			<div class="w-full rounded-md shadow-lg shadow-slate-900 bg-white">
				<h3 class="text-center text-lg tracking-wide underline">Name</h3>
				<p class="ml-2">My given name is Roberto Garcia but everyone just calls me Rob</p>
			</div>
			<div class="w-full rounded-md shadow-lg shadow-slate-900 bg-white">
				<h3 class="text-center text-lg tracking-wide underline">Languages Spoken</h3>
				<p class="ml-2">Fluent in English and Spanish with a small amount of proficiency in transactional French.</p>
			</div>
			<div class="w-full rounded-md shadow-lg shadow-slate-900 bg-white">
				<h3 class="text-center text-lg tracking-wide underline">Location</h3>
				<p class="ml-2">I reside in Brookfield, Massachussets, which is equidistant from Boston, Hartford, and Providence.</p>
			</div>
		</div>
	</div>
	<div class="mt-8 flex flex-row bg-white gap-4 rounded-md shadow-lg shadow-slate-900">
		<div class="max-w-lg rounded-md overflow-hidden shadow-lg shadow-slate-900">
			<div class="px-6 py-4">
				<div class="font-bold text-xl mb-2">Development Experience</div>
				<p class="text-gray-700 text-base">
					Below is a list of the tools, platforms, and environments I've used over the last several years.
				</p>
				<ul class="text-gray-700 text-base list-disc list-inside">
					<li>Javascript/Typescript, Ruby, PHP, jQuery/AJAX</li>
					<li>HTML5, CSS3, Tailwind CSS, SASS/SCSS</li>
					<li>Angular 2+, Ruby on Rails</li>
					<li>Node.js, Express, NPM</li>
					<li>PostgreSQL, MongoDB, MySQL</li>
					<li>Git/GitHub, Team Foundation Server</li>
				</ul>
			</div>
		</div>
		<div class="max-w-lg rounded-md overflow-hidden shadow-lg shadow-slate-900">
			<div class="px-6 py-4">
				<div class="font-bold text-xl mb-2">Education and Languages</div>
				<p class="text-gray-700 text-base">
					A short summary of my education and spoken language abilities
				</p>
				<ul class="text-gray-700 text-base list-disc list-inside">
					<li>BA in Spanish, University of Massachussets Boston</li>
					<li>Successfully completed General Assembly's Web Development Immersive program (WDI 23)</li>
					<li>Fluent in English and Spanish</li>
					<li>Proficiency in transactional French</li>
				</ul>
			</div>
		</div>
	</div>
	<div class="grid grid-cols-3 m-1 p-1">
	</div>
	<div class="grid grid-cols-2 m-1 p-1">
	</div>
</div>
<app-footer></app-footer>
